# Exploring Pandas Series 
Pandas Series is like a list where every item has a name or a label. You can think of it as a special list that can hold any type of data, not just numbers! Let’s learn how to create and work with Pandas Series using some fun examples!

## Step 1: Importing the Libraries
To start using Pandas, we first need to import it! We will also use NumPy to create random numbers.

In [1]:
import numpy as np
import pandas as pd

## Step 2: Creating a Series from Lists
A Series can be made from lists. Let’s say we have the independence years of some countries. We’ll create a list of years and another list with country names as labels.

In [2]:
myindex = ['USA','Canada','Mexico']
mydata = [1776,1867,1821]
myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

## Step 3: Random Numbers and Names
What if we have random ages of kids and want to create a Series with their names? We can generate random numbers for their ages and then give each number a name label.

In [3]:
ran_data = np.random.randint(0, 100, 4)
names = ['Andrew','Bobo','Claire','David']
ages = pd.Series(ran_data, names)
ages

Andrew    29
Bobo      36
Claire    62
David     59
dtype: int64

## Step 4: Creating a Series from a Dictionary
Sometimes we might already have a list of names and ages. We can use a Python dictionary to create a Series.

In [4]:
ages_dict = {'Sammy': 5, 'Frank': 10, 'Spike': 7}
ages_series = pd.Series(ages_dict)
ages_series

Sammy     5
Frank    10
Spike     7
dtype: int64

## Step 5: Working with Sales Data
Let’s say we have some sales data from two quarters (Q1 and Q2) for different countries. We can create two Series and perform some cool operations on them.

In [5]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

We can call values based on their labels or using numbers.

In [6]:
sales_Q1['Japan']
# Or by location
sales_Q1.i[0]

/tmp/ipykernel_149461/971091860.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_Q1[0]

np.int64(80)

## Step 6: Series Operations
We can perform operations like multiplying or dividing the entire Series. Let’s double the sales in Q1 and divide the Q2 sales by 100.

In [7]:
sales_Q1 * 2
sales_Q2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

## Step 7: Combining Two Series
We can also add two Series together. If there’s a mismatch in labels, Pandas will show `NaN` (which means Not a Number) for the missing data. Let’s add the sales from Q1 and Q2.

In [8]:
sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

To fill the missing values, we can use the `add()` method and specify a fill value, like 0.

In [9]:
sales_Q1.add(sales_Q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

## That’s it! 
You’ve learned how to create, access, and operate on Pandas Series. Now you can start playing around with your own data! Up next, we’ll learn about DataFrames, which are like multiple Series combined!