SERIES

In [1]:
import numpy as np
import pandas as pd

In [2]:
myindex=["INDIA","USA","CANADA"]

In [3]:
mydata=[[1947,1776,1821],[111,222,222],[1947,1776,1821]],[[1947,1776,1821],[111,222,222],[1947,1776,1821]],[[1947,1776,1821],[111,222,222],[1947,1776,1821]]

In [4]:
what=pd.Series(index=myindex,data=mydata)

In [5]:
what.keys()

Index(['INDIA', 'USA', 'CANADA'], dtype='object')

In [6]:
mylabeldata=pd.Series(mydata,myindex)

In [7]:
print(mylabeldata)

INDIA     [[1947, 1776, 1821], [111, 222, 222], [1947, 1...
USA       [[1947, 1776, 1821], [111, 222, 222], [1947, 1...
CANADA    [[1947, 1776, 1821], [111, 222, 222], [1947, 1...
dtype: object

In [8]:
mylabeldata["USA"]

[[1947, 1776, 1821], [111, 222, 222], [1947, 1776, 1821]]

In [9]:
mylabeldata[0]

/tmp/ipykernel_155941/355493996.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  mylabeldata[0]

[[1947, 1776, 1821], [111, 222, 222], [1947, 1776, 1821]]

In [10]:
ages = {'Sammy':5,'Frank':10,'Spike':7}

In [11]:
reages=pd.Series(ages)

In [12]:
reages["Spike"]

np.int64(7)

In [13]:
[1,2]*2

[1, 2, 1, 2]

In [14]:
np.array([1,2])*2

array([2, 4])

In [15]:
import numpy as np
import pandas as pd

## Data

In [21]:
df = pd.read_csv('mpg.csv')

In [22]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

## groupby() method

In [39]:
# Creates a groupby object waiting for an aggregate method
year=df.groupby('model_year')

#### Adding an aggregate method call. To use a grouped object, you need to tell pandas how you want to aggregate the data.

Common Options:

    mean(): Compute mean of groups
    sum(): Compute sum of group values
    size(): Compute group sizes
    count(): Compute count of group
    std(): Standard deviation of groups
    var(): Compute variance of groups
    sem(): Standard error of the mean of groups
    describe(): Generates descriptive statistics
    first(): Compute first of group values
    last(): Compute last of group values
    nth() : Take nth value, or a subset if n is a list
    min(): Compute min of group values
    max(): Compute max of group values
    
Full List at the Online Documentation: https://pandas.pydata.org/docs/reference/groupby.html

In [43]:
# model_year becomes he index! It is NOT a column name,it is now the name of the index
year = df.select_dtypes(include=['number'])

year1=year.groupby('model_year').mean()

year1

,mpg,cylinders,displacement,weight,acceleration,origin
model_year,,,,,,
70,17.689655,6.758621,281.413793,3372.793103,12.948276,1.310345
71,21.250000,5.571429,209.750000,2995.428571,15.142857,1.428571
72,18.714286,5.821429,218.375000,3237.714286,15.125000,1.535714
73,17.100000,6.375000,256.875000,3419.025000,14.312500,1.375000
74,22.703704,5.259259,171.740741,2877.925926,16.203704,1.666667
75,20.266667,5.600000,205.533333,3176.800000,16.050000,1.466667
76,21.573529,5.647059,197.794118,3078.735294,15.941176,1.470588
77,23.375000,5.464286,191.392857,2997.357143,15.435714,1.571429
78,24.061111,5.361111,177.805556,2861.805556,15.805556,1.611111
79,25.093103,5.827586,206.689655,3055.344828,15.813793,1.275862
80,33.696552,4.137931,115.827586,2436.655172,16.934483,2.206897
81,30.334483,4.620690,135.310345,2522.931034,16.306897,1.965517
82,31.709677,4.193548,128.870968,2453.548387,16.638710,1.645161

In [35]:
avg_year = df.groupby('model_year').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
avg_year.index

In [ ]:
avg_year.columns

In [ ]:
avg_year['mpg']

In [ ]:
df.groupby('model_year').mean()['mpg']

In [ ]:
df.groupby('model_year').describe()

In [ ]:
df.groupby('model_year').describe().transpose()

## Groupby Multiple Columns
Let's explore average mpg per year per cylinder count

In [ ]:
df.groupby(['model_year','cylinders']).mean()

In [ ]:
df.groupby(['model_year','cylinders']).mean().index

# MultiIndex

## The MultiIndex Object

In [ ]:
year_cyl = df.groupby(['model_year','cylinders']).mean()

In [ ]:
year_cyl

In [ ]:
year_cyl.index

In [ ]:
year_cyl.index.levels

In [ ]:
year_cyl.index.names

# Indexing with the Hierarchical Index

Full Documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [ ]:
year_cyl.head()

## Grab Based on Outside Index

In [ ]:
year_cyl.loc[70]

In [ ]:
year_cyl.loc[[70,72]]

## Grab a Single Row

In [ ]:
year_cyl.loc[(70,8)]

# Grab Based on Cross-section with .xs()

This method takes a `key` argument to select data at a particular
level of a MultiIndex.

Parameters
----------
    key : label or tuple of label
        Label contained in the index, or partially in a MultiIndex.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to retrieve cross-section on.
    level : object, defaults to first n levels (n=1 or len(key))
        In case of a key partially contained in a MultiIndex, indicate
        which levels are used. Levels can be referred by label or position.

In [ ]:
year_cyl.xs(key=70,axis=0,level='model_year')

In [ ]:
# Mean column values for 4 cylinders per year
year_cyl.xs(key=4,axis=0,level='cylinders')

### Careful note!

Keep in mind, its usually much easier to filter out values **before** running a groupby() call, so you should attempt to filter out any values/categories you don't want to use. For example, its much easier to remove **4** cylinder cars before the groupby() call, very difficult to this sort of thing after a group by.

In [ ]:
df[df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean()

## Swap Levels

* Swapping Levels: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#swapping-levels-with-swaplevel
* Generalized Method is reorder_levels: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#reordering-levels-with-reorder-levels

In [ ]:
year_cyl.swaplevel().head()

## Sorting MultiIndex

* https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#sorting-a-multiindex

In [ ]:
year_cyl.sort_index(level='model_year',ascending=False)

In [ ]:
year_cyl.sort_index(level='cylinders',ascending=False)

# Advanced: agg() method

The agg() method allows you to customize what aggregate functions you want per category

In [ ]:
df

## agg() on a DataFrame

In [ ]:
# These strings need to match up with built-in method names
df.agg(['median','mean'])

In [ ]:
df.agg(['sum','mean'])[['mpg','weight']]

### Specify aggregate methods per column

**agg()** is very powerful,allowing you to pass in a dictionary where the keys are the columns and the values are a list of aggregate methods.

In [ ]:
df.agg({'mpg':['median','mean'],'weight':['mean','std']})

## agg() with groupby()

In [ ]:
df.groupby('model_year').agg({'mpg':['median','mean'],'weight':['mean','std']})