reference https://www.youtube.com/watch?v=_C8kWso4ne4

Github Repo Reference https://github.com/krishnaik06/Pyspark-With-Python/tree/main

In [1]:
import pyspark

In [2]:
import pandas as pd

In [20]:
pd.read_csv("test1.csv")

      name  age  experience
0  Bharath   23           1
1      ram   20          10
2     sham   30          20

In [5]:
from pyspark.sql import SparkSession

In [12]:
spark=SparkSession.builder.appName("practise").getOrCreate()

In [13]:
# df_pyspark=spark.read.csv("test1.csv").show()

In [21]:
df_pyspark=spark.read.option("header","true").csv("test1.csv")

In [22]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

In [23]:
df_pyspark.head(2)

[Row(name='Bharath', age='23', experience='1'),
 Row(name='ram', age='20', experience='10')]

In [24]:
df_pyspark=spark.read.option("header","true").csv("test1.csv",inferSchema=True)

In [26]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [27]:
df_pyspark.columns

['name', 'age', 'experience']

In [29]:
df_pyspark.select(["name","experience"]).show()

+-------+----------+
|   name|experience|
+-------+----------+
|Bharath|         1|
|    ram|        10|
|   sham|        20|
+-------+----------+

In [30]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [31]:
df_add=df_pyspark.withColumn("Experience After 2 Years",df_pyspark["experience"]+2)

In [39]:
from pyspark.sql.functions import lit
df_add_city=df_pyspark.withColumn("City", lit("New York"))

In [41]:
df_add.show()

+-------+---+----------+------------------------+
|   name|age|experience|Experience After 2 Years|
+-------+---+----------+------------------------+
|Bharath| 23|         1|                       3|
|    ram| 20|        10|                      12|
|   sham| 30|        20|                      22|
+-------+---+----------+------------------------+

In [33]:
df_drop=df_add.drop("Experience After 2 Years")

In [34]:
df_drop.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|Bharath| 23|         1|
|    ram| 20|        10|
|   sham| 30|        20|
+-------+---+----------+

In [43]:
df_pyspark.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|Bharath| 23|         1|
|    ram| 20|        10|
|   sham| 30|        20|
+-------+---+----------+

In [47]:
df_pyspark.withColumnRenamed("name","NAME").show()

+-------+---+----------+
|   NAME|age|experience|
+-------+---+----------+
|Bharath| 23|         1|
|    ram| 20|        10|
|   sham| 30|        20|
+-------+---+----------+

In [46]:
df_pyspark.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|Bharath| 23|         1|
|    ram| 20|        10|
|   sham| 30|        20|
+-------+---+----------+