In [3]:
import pyspark

In [4]:
import pandas as pd

In [5]:
pd.read_csv("test_1 - Sheet1.csv")

      name  age
0  Bharath   23
1      ram   20
2     sham   30

In [6]:
from pyspark.sql import SparkSession

In [11]:
spark=SparkSession.builder.appName("practise").getOrCreate()

In [20]:
df_pyspark=spark.read.csv("test1.csv").show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   name|age|
|Bharath| 23|
|    ram| 20|
|   sham| 30|
+-------+---+

In [19]:
df_pyspark=spark.read.option("header","true").csv("test1.csv").show()

+-------+---+
|   name|age|
+-------+---+
|Bharath| 23|
|    ram| 20|
|   sham| 30|
+-------+---+